{
  "extends": "@callstack/eslint-config",
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["react-native-multibundle", "./"]],
        "extensions": [".ts"]
      }
    }
  }

}